@font-face {
  font-family: 'NanumSeHwaCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSeHwaCe/NanumSeHwaCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSeHwaCe/NanumSeHwaCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSeHwaCe/NanumSeHwaCe.ttf') format('truetype');
}